NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY= #generate from medusa - follow setup_guide
STOREFRONT_MEDUSA_URL=http://localhost:9000
NEXT_PUBLIC_MEDUSA_BACKEND_URL=http://localhost:9000
STOREFRONT_STRAPI_URL=http://localhost:1337
NEXT_PUBLIC_STRAPI_URL=http://localhost:1337
CMS_API_TOKEN= #generate from strapi admin - follow setup_guide
# Cal.com Configuration
NEXT_PUBLIC_CAL_API_KEY=
NEXT_PUBLIC_CAL_USERNAME=
NEXT_PUBLIC_CAL_EVENT_SLUG=
NEXT_PUBLIC_RAZORPAY_KEY=