NEXT_PUBLIC_MEDUSA_PUBLISHABLE_KEY=
STOREFRONT_MEDUSA_URL=
NEXT_PUBLIC_MEDUSA_BACKEND_URL=
STOREFRONT_STRAPI_URL=
NEXT_PUBLIC_STRAPI_URL=
CMS_API_TOKEN=
# Cal.com Configuration
NEXT_PUBLIC_CAL_API_KEY=
NEXT_PUBLIC_CAL_USERNAME=
NEXT_PUBLIC_CAL_EVENT_SLUG=
NEXT_PUBLIC_RAZORPAY_KEY=